body{
    margin: 0;
    padding: 0;
    font-family: Heveltica, sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #cccc;
}

h1{
    padding-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="file"]:invalid {
    display: none;
}

input[type="file"]:valid{
    display: block; 
}

label, button{
    border: 0;
    padding: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

/*Transações*/
table{
    border: 1px solid #000;
}

th{
    background-color: #000;
    color: #ccc;
    padding: 10px 0px;
    border-collapse: collapse;
    padding: 8px;
}

tr{
    border-collapse: collapse;
}

td{
    padding:8px;
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}
.table__balance{
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}