{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CNAB</title>
</head>
<body>
    <main>
   
        <h1>Leitor de Arquivos CNAB</h1>

        <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <label for="cnabFile">Inserir arquivo</label>
            <input type="file" name="cnabFile" id="cnabFile" required>  
            <button type="submit">Enviar</button>     
        </form>
    
    </main>

</body>
</html>